.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-input {
  width: 100%;
  width: calc(100% - 40px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.strength-bars {
  display: flex;
  justify-content: space-between;
}

.strength-bar {
  flex: 1;
  height: 10px;
  margin: 0 5px;
  background-color: gray; 
  border-radius: 5px;
}

.strength-bar:first-child {
  margin-left: 0;
}

.strength-bar:last-child {
  margin-right: 0;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
