<div class="container">
  <div class="password-wrapper">
    <input type="password" [(ngModel)]="password" (input)="checkPasswordStrength()" [type]="showPassword ? 'text' : 'password'" class="password-input" placeholder="Enter password">
    <button (click)="togglePasswordVisibility()" class="eye-icon">{{ showPassword ? '👁️' : '👁️‍🗨️' }}</button>
  </div>
  <div class="strength-bars">
    <div class="strength-bar" [ngClass]="sectionClasses[0]"></div>
    <div class="strength-bar" [ngClass]="sectionClasses[1]"></div>
    <div class="strength-bar" [ngClass]="sectionClasses[2]"></div>
  </div>
</div>
